@font-face {
  font-family: "LatoRegular";
  src: url("./assets/fonts/LatoRegular.eot");
  src: url("./assets/fonts/LatoRegular.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/LatoRegular.woff") format("woff"),
  url("./assets/fonts/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./assets/fonts/RobotoRegular.eot");
  src: url("./assets/fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/RobotoRegular.woff") format("woff"),
  url("./assets/fonts/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'muvis';
  src:  url('./assets/fonts/muvis_icons.eot?ewrbzy');
  src:  url('./assets/fonts/muvis_icons.eot?ewrbzy#iefix') format('embedded-opentype'),
    url('./assets/fonts/muvis_icons.ttf?ewrbzy') format('truetype'),
    url('./assets/fonts/muvis_icons.woff?ewrbzy') format('woff'),
    url('./assets/fonts/muvis_icons.svg?ewrbzy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'muvis' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   &.active {
     color: $main-color;
   }
}
.icon-logo:before {
  content: "\e91f";
}
.icon-muv-menu:before {
  content: "\e91e";
}
.icon-muv-calendar .path1:before {
  content: "\e901";
  color: rgb(0, 0, 0);
}
.icon-muv-calendar .path2:before {
  content: "\e902";
  margin-left: -0.9091796875em;
  color: rgb(255, 255, 255);
}
.icon-muv-calendar .path3:before {
  content: "\e904";
  margin-left: -0.9091796875em;
  color: rgb(255, 255, 255);
}
.icon-muv-calendar-close .path1:before {
  content: "\e91a";
  color: rgb(0, 0, 0);
}
.icon-muv-calendar-close .path2:before {
  content: "\e91b";
  margin-left: -0.9091796875em;
  color: rgb(255, 255, 255);
}
.icon-muv-calendar-close .path3:before {
  content: "\e91c";
  margin-left: -0.9091796875em;
  color: rgb(255, 255, 255);
}
.icon-muv-calendar-close .path4:before {
  content: "\e91d";
  margin-left: -0.9091796875em;
  color: rgb(255, 255, 255);
}
.icon-muv-close:before {
  content: "\e900";
}
.icon-muv-arrow-up:before {
  content: "\e903";
}
.icon-muv-locked:before {
  content: "\e905";
}
.icon-muv-arrow-down:before {
  content: "\e906";
}
.icon-muv-play:before {
  content: "\e907";
}
.icon-muv-pause:before {
  content: "\e908";
}
.icon-muv-interactive:before {
  content: "\e909";
}
.icon-muv-multistream:before {
  content: "\e90a";
}
.icon-muv-multiwindow:before {
  content: "\e90b";
}
.icon-muv-link-copy:before {
  content: "\e90c";
}
.icon-muv-yandex:before {
  content: "\e90d";
}
.icon-muv-mobile:before {
  content: "\e90e";
}
.icon-muv-card:before {
  content: "\e90f";
}
.icon-muv-fullscreen-close:before {
  content: "\e910";
}
.icon-muv-fullscreen:before {
  content: "\e911";
}
.icon-muv-email:before {
  content: "\e912";
}
.icon-muv-arrow-right:before {
  content: "\e913";
}
.icon-muv-check:before {
  content: "\e914";
}
.icon-muv-plus:before {
  content: "\e915";
}
.icon-muv-volume-100:before {
  content: "\e916";
}
.icon-muv-volume-50:before {
  content: "\e917";
}
.icon-muv-volume-10:before {
  content: "\e918";
}
.icon-muv-mute:before {
  content: "\e919";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-rouble:before {
  content: "\f158";
}
.icon-rub:before {
  content: "\f158";
}
.icon-ruble:before {
  content: "\f158";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-tumblr-square:before {
  content: "\f174";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-vk:before {
  content: "\f189";
}
.icon-vimeo-square:before {
  content: "\f194";
}
.icon-trademark:before {
  content: "\f25c";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-odnoklassniki-square:before {
  content: "\f264";
}
